body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  
  .content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  
  .map-container {
    opacity: 0; /* Start with the map invisible */
    transition: opacity 2s ease-out; /* Transition effect for the opacity */
  }
  
  .map-container.visible {
    opacity: 1; /* Make the map visible when in viewport */
  }

  .tooltip {
    position: absolute;
    text-align: center;
    padding: 12px;
    background: white;
    border: 1px solid #000;
    border-radius: 8px;
    pointer-events: none; /* To prevent mouse events on the tooltip */
    z-index: 10;
}

.map-container svg { width: 100%; max-width: 960px; height: auto; }
.region-group:hover { fill: #aaaaaa; }
.region-group.hover path { fill: #aaaaaa; }